<%= form_for(@omadused) do |f| %>
  <% if @omadused.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@omadused.errors.count, "error") %> prohibited this omadused from being saved:</h2>

      <ul>
      <% @omadused.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :toimeaine %><br />
    <%= f.text_field :toimeaine %>
  </div>
  <div class="field">
    <%= f.label :atc %><br />
    <%= f.text_field :atc %>
  </div>
  <div class="field">
    <%= f.label :spc %><br />
    <%= f.text_field :spc %>
  </div>
  <div class="field">
    <%= f.label :RAVIMPREPARAADI_NIMETUS %><br />
    <%= f.text_area :RAVIMPREPARAADI_NIMETUS %>
  </div>
  <div class="field">
    <%= f.label :KOOSTIS %><br />
    <%= f.text_area :KOOSTIS %>
  </div>
  <div class="field">
    <%= f.label :RAVIMVORM %><br />
    <%= f.text_area :RAVIMVORM %>
  </div>
  <div class="field">
    <%= f.label :naidustused %><br />
    <%= f.text_area :naidustused %>
  </div>
  <div class="field">
    <%= f.label :annustamine %><br />
    <%= f.text_area :annustamine %>
  </div>
  <div class="field">
    <%= f.label :vastunaidustused %><br />
    <%= f.text_area :vastunaidustused %>
  </div>
  <div class="field">
    <%= f.label :hoiatused %><br />
    <%= f.text_area :hoiatused %>
  </div>
  <div class="field">
    <%= f.label :koostoimed %><br />
    <%= f.text_area :koostoimed %>
  </div>
  <div class="field">
    <%= f.label :rasedus %><br />
    <%= f.text_area :rasedus %>
  </div>
  <div class="field">
    <%= f.label :reaktsioonikiirus %><br />
    <%= f.text_area :reaktsioonikiirus %>
  </div>
  <div class="field">
    <%= f.label :korvaltoimed %><br />
    <%= f.text_area :korvaltoimed %>
  </div>
  <div class="field">
    <%= f.label :yleannustamine %><br />
    <%= f.text_area :yleannustamine %>
  </div>
  <div class="field">
    <%= f.label :farmakodynaamilised %><br />
    <%= f.text_area :farmakodynaamilised %>
  </div>
  <div class="field">
    <%= f.label :farmakokineetilised %><br />
    <%= f.text_area :farmakokineetilised %>
  </div>
  <div class="field">
    <%= f.label :prekliinilised %><br />
    <%= f.text_area :prekliinilised %>
  </div>
  <div class="field">
    <%= f.label :abiained %><br />
    <%= f.text_area :abiained %>
  </div>
  <div class="field">
    <%= f.label :sobimatus %><br />
    <%= f.text_area :sobimatus %>
  </div>
  <div class="field">
    <%= f.label :kolblikkusaeg %><br />
    <%= f.text_area :kolblikkusaeg %>
  </div>
  <div class="field">
    <%= f.label :sailitamine %><br />
    <%= f.text_area :sailitamine %>
  </div>
  <div class="field">
    <%= f.label :pakendi_iseloomustus %><br />
    <%= f.text_area :pakendi_iseloomustus %>
  </div>
  <div class="field">
    <%= f.label :havitamine %><br />
    <%= f.text_area :havitamine %>
  </div>
  <div class="field">
    <%= f.label :MYYGILOA_HOIDJA %><br />
    <%= f.text_area :MYYGILOA_HOIDJA %>
  </div>
  <div class="field">
    <%= f.label :MYYGILOA_NUMBER %><br />
    <%= f.text_area :MYYGILOA_NUMBER %>
  </div>
  <div class="field">
    <%= f.label :MYYGILOA_KUUPAEV %><br />
    <%= f.text_area :MYYGILOA_KUUPAEV %>
  </div>
  <div class="field">
    <%= f.label :TEKSTI_LABIVAATAMISE_KUUPAEV %><br />
    <%= f.text_area :TEKSTI_LABIVAATAMISE_KUUPAEV %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
