<% if @error_info != "" %>
   <p> <%= @error_info  %></p>
<% else %> 
     <div>kokku leiti 
       <% if @tabeliRidadeArv > 1 %>
         <%= @tabeliRidadeArv %> erinevat PDF-faili
       <% else %>
         <%= @tabeliRidadeArv %> PDF-fail
       <% end %>
     </div>
     
     <% @omadused.each do |t| %> 
        <div class = "pealkiri"> 
          <div> ATC kood </div>
          <div class = "t_atc"> <%= t.atc %> </div>
        </div>
        <div class = "pealkiri"> 
          <div> Toimeaine </div>
          <div class = "t_toimeaine"> <%= t.toimeaine %> </div>
        </div>
        <div class = "pealkiri"> 
          <div> PDF link </div>
          <a class = "t_spc" href="<%= t.spc %>" > <%= t.spc %> </a>
        </div>
        
        <div class = "clearboth"></div> 
        
        <div class = "koostoimed_container"> 
          <div class = "pdf_pealkiri"> <%= t.title(:koostoimed) %> </div>
          <div class = "t_koostoimed"> <%= t.koostoimed %> </div>
        </div>
        
        
        <div class = "muud_container"> 
        
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:RAVIMPREPARAADI_NIMETUS) %> </div>
            <div class = "muu"> <%= t.RAVIMPREPARAADI_NIMETUS %> </div>
          </div>
          
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:KOOSTIS) %> </div>
            <div class = "muu"> <%= t[:KOOSTIS ] %> </div>
          </div>
          
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:RRAVIMVORM) %> </div>
            <div class = "muu"> <%= t[:RAVIMVORM] %> </div>
          </div>
          
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:naidustused) %> </div>
            <div class = "muu"> <%= t[:naidustused] %> </div>
          </div>
          
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:annustamine) %> </div>
            <div class = "muu"> <%= t[:annustamine] %> </div>
          </div>
          
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:vastunaidustused) %> </div>
            <div class = "muu"> <%= t[:vastunaidustused] %> </div>
          </div>
          
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:hoiatused) %> </div>
            <div class = "muu"> <%= t[:hoiatused] %> </div>
          </div>
          
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:rasedus) %> </div>
            <div class = "muu"> <%= t[:rasedus] %> </div>
          </div>
          
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:reaktsioonikiirus) %> </div>
            <div class = "muu"> <%= t[:reaktsioonikiirus] %> </div>
          </div>
          
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:korvaltoimed) %> </div>
            <div class = "muu"> <%= t[:korvaltoimed] %> </div>
          </div>
          
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:yleannustamine) %> </div>
            <div class = "muu"> <%= t[:yleannustamine] %> </div>
          </div>
          
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:farmakodynaamilised) %> </div>
            <div class = "muu"> <%= t[:farmakodynaamilised] %> </div>
          </div>
          
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:farmakokineetilised) %> </div>
            <div class = "muu"> <%= t[:farmakokineetilised] %> </div>
          </div>
          
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:prekliinilised) %> </div>
            <div class = "muu"> <%= t[:prekliinilised] %> </div>
          </div>
          
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:abiained) %> </div>
            <div class = "muu"> <%= t[:abiained] %> </div>
          </div>
          
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:sobimatus) %> </div>
            <div class = "muu"> <%= t[:sobimatus] %> </div>
          </div>
          
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:kolblikkusaeg) %> </div>
            <div class = "muu"> <%= t[:kolblikkusaeg] %> </div>
          </div>
          
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:sailitamine) %> </div>
            <div class = "muu"> <%= t[:sailitamine] %> </div>
          </div>
          
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:pakendi_iseloomustus) %> </div>
            <div class = "muu"> <%= t[:pakendi_iseloomustus] %> </div>
          </div>
          
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:havitamine) %> </div>
            <div class = "muu"> <%= t[:havitamine] %> </div>
          </div>
          
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:MYYGILOA_HOIDJA) %> </div>
            <div class = "muu"> <%= t[:MYYGILOA_HOIDJA] %> </div>
          </div>
          
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:MYYGILOA_NUMBER) %> </div>
            <div class = "muu"> <%= t[:MYYGILOA_NUMBER] %> </div>
          </div>
          
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:MYYGILOA_KUUPAEV) %> </div>
            <div class = "muu"> <%= t[:MYYGILOA_KUUPAEV] %> </div>
          </div>
          
          <div class = "eitea" > 
            <div class = "pdf_pealkiri" > <%= t.title(:TEKSTI_LABIVAATAMISE_KUUPAEV) %> </div>
            <div class = "muu"> <%= t[:TEKSTI_LABIVAATAMISE_KUUPAEV] %> </div>
          </div>
        
        </div><!--muud_container-->
        
        <div class = "clearboth"></div> 
        <br />
     <% end %>
<% end %>
