<h1>Listing atcs</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Nimetus est</th>
    <th>Nimetus eng</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @atcs.each do |atc| %>
  <tr>
    <td><%= atc.code %></td>
    <td><%= atc.nimetus_est %></td>
    <td><%= atc.nimetus_eng %></td>
    <td><%= link_to 'Show', atc %></td>
    <td><%= link_to 'Edit', edit_atc_path(atc) %></td>
    <td><%= link_to 'Destroy', atc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Atc', new_atc_path %>
