<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @atc.code %>
</p>

<p>
  <b>Nimetus est:</b>
  <%= @atc.nimetus_est %>
</p>

<p>
  <b>Nimetus eng:</b>
  <%= @atc.nimetus_eng %>
</p>


<%= link_to 'Edit', edit_atc_path(@atc) %> |
<%= link_to 'Back', atcs_path %>
